<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTO_Report_Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Materials_Processor.Properties.Settings.IsoLogCheck"
            connectionString="Data Source=epicslsql01;Initial Catalog=PD_EDW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MTO_Report_Processor.Properties.Settings.IsoLogCheck"
            connectionString="Data Source=epicslsql01;Initial Catalog=PD_EDW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MTO_Report_Processor.Properties.Settings.PD_EDWConnectionString"
            connectionString="Data Source=epicslsqld01;Initial Catalog=PD_EDW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MTO_Report_Processor.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JobNum" serializeAs="String">
                <value />
            </setting>
            <setting name="IsoList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="isotakeofflist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </MTO_Report_Processor.Properties.Settings>
    </userSettings>
</configuration>